@import 'assets/reset.css';

:root {
    --background: #fff;
    --primary: #83adff;
    --primary-2: #b4d2ff;
    --weak: #e6f2ff;
    --white: #fff;
    --black: #3a3635;
    --grey: #f5f5f5;
    --grey-1: #ced1d5;
    --grey-2: #969ca5;
    --grey-3: #616a78;
    --success: #7ec61f;
    --info: #008cff;
    --warning: #ffdc16;
    --danger: #ff563f;

    --stepper-indicator-size: 2rem;
    --select-button-border-radius: 5px;
}

html,
body {
    margin: 0;
}

body {
    background-color: var(--white);
}

header {
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    cursor: pointer;
}

.logo img {
    width: 15rem;
}

.container {
    min-width: 300px;
    max-width: 1440px;
    padding: 2rem 12rem;
    margin: 0 auto;
    display: flex;
}

.stepper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
    gap: 0px;
}

.step {
    position: relative;
    display: flex;
    flex: 1 1 0%;
}

.step:not(:last-child)::after {
    content: '';
    width: 2px;
    position: absolute;
    height: 100%;
    max-height: calc(100% - var(--stepper-indicator-size) - 8px);
    top: calc(var(--stepper-indicator-size) + 4px);
    left: calc(var(--stepper-indicator-size) / 2 - 1px);
    background-color: var(--grey-1);
    flex: 1 1 0%;
}

.step-item-finish:not(:last-child)::after {
    background-color: var(--primary);
}

.step .step-indicator {
    width: var(--stepper-indicator-size);
    height: var(--stepper-indicator-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 9999px;
    flex-shrink: 0;
    background-color: var(--grey-1);
}

.step-indicator .step-number {
    font-size: 1rem;
    line-height: normal;
    color: var(--white);
}

.step.step-item-finish .step-indicator {
    background-color: var(--primary);
    opacity: 0.5;
}

.step.step-item-process .step-indicator {
    background-color: var(--primary);
}

.step.step-item-process .step-indicator::after {
    content: '';
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    border-radius: 9999px;
    border: 3px solid var(--primary);
    margin-left: 0.05rem;
}

.content-wrapper {
    padding: 2rem 0rem 2rem 5rem;
    flex: 1;
}

.content {
    display: none;
}

.content.visible {
    display: block;
}

.content .content-step-number {
    font-size: 1rem;
    font-weight: 500;
    color: var(--grey-2);
    margin-bottom: 2rem;
}

.content .content-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.content .content-description {
    line-height: 1.5rem;
    color: var(--grey-3);
    margin-bottom: 3rem;
}

.content .content-inner {
    margin-bottom: 4rem;
    color: white;
}

.contour {
    width: 100%;
    height: 2px;
    background-color: var(--grey);
    margin-bottom: 2rem;
}

.banner-size-select-section {
    display: flex;
    gap: 2rem;
}

.banner-size-template {
    padding: 3rem 3rem 2rem;
    border-radius: 20px;
    background: var(--white);
    cursor: pointer;
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--grey-2);
    border: 3px solid var(--grey-1);
}

.banner-size-selected:before {
    content: url('assets/icons/check-circle.svg');
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.banner-size-selected {
    color: var(--primary);
    transition: 0.3s;
    border: 3px solid var(--primary);
    background: var(--weak);
}

.banner-size-selected .empty-banner {
    opacity: 1;
}

.empty-banner {
    width: 30%;
    padding-top: 30%;
    background-size: cover;
    opacity: 0.4;
}

.empty-banner.banner-1x1 {
    background-image: url('assets/icons/tistory.svg');
}

.empty-banner.banner-4x3 {
    background-image: url('assets/icons/velog.svg');
}

.banner-size-template span {
    margin-top: 1rem;
}

.button {
    color: var(--white);
    text-align: center;
    letter-spacing: -0.05em;
    background-color: var(--primary);
    border-radius: 5px;
    padding: 0.8em 2em;
    font-size: 1.2em;
    line-height: 1;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    border: none;
}

.button:not(:last-child) {
    margin-right: 10px;
}

.button:hover {
    color: var(--primary);
    background-color: var(--black);
}

.button.next-btn,
.button.submit-btn {
    display: none;
}

.button.prev-btn {
    display: none;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--grey-1);
    padding: 0.8em 1.5em;
}

.button.visible {
    display: inline-block;
}

.button.prev-btn:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    transition: 0.3s ease-in-out;
}

.preview {
    margin: 0 auto;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5rem;
    background-size: cover;
}

.preview-size-800x800 {
    height: 500px;
    width: calc(500px - 10rem);
}

.preview-size-1600x900 {
    height: 402px;
    width: 768px;
}

.preview-text-center {
    align-items: center;
    text-align: center;
}

.preview-text-left {
    align-items: start;
    text-align: left;
}

.preview-text-right {
    align-items: end;
    text-align: right;
}

.preview .preview-title {
    font-size: 2.7rem;
}

.preview .preview-subtitle {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}

.preview .preview-subtitle.border-top {
    border-top: 1px solid currentColor;
    padding: 0.7rem;
}

.control-panel {
    margin-top: 2rem;
}

.style-options-group {
    margin-bottom: 1rem;
}

.select-button-group {
    display: inline-flex;
    border-radius: var(--select-button-border-radius);
}

.select-button-group .select-button,
.font-color-preview {
    color: var(--grey-2);
    background: var(--white);
    border: 1px solid var(--grey-1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 11px;
    border-radius: var(--select-button-border-radius);
    cursor: pointer;
    font-size: 1rem;
    z-index: 0;
}

.select-button-group .select-button:not(:last-of-type) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-button-group .select-button:not(:first-of-type) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
}

.select-button-group.bg-select .select-button {
    min-width: 130px;
}

.select-button-group .select-button:not(:last-of-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.select-button-group .selected,
.font-color-preview:hover {
    color: var(--primary);
    background: var(--weak);
    border: 1px solid var(--primary);
    z-index: 1;
}

.bg-input {
    margin-top: 2rem;
}

.bg-input-type {
    display: none;
}

.bg-input-type.gradients {
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;
    height: 300px;
    overflow-y: scroll;
    position: relative;
}

.bg-input-type.gradients.visible {
    display: grid;
}

.gradients .gradient-circle,
.palette .color {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    cursor: pointer;
    box-sizing: border-box;
}

.gradients .gradient-circle.selected {
    border: 5px solid var(--grey-1);
}

.bg-input-type.solid.visible {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bg-input-type.solid .palette {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 40px);
    grid-auto-rows: 40px;
    position: relative;
    margin-bottom: 1rem;
}

.palette .color {
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-1);
}

.palette .color.selected,
.solid .hidden-bg-color-picker.selected {
    border: 3px solid var(--grey-1);
}

.palette .color.selected::after {
    content: url('assets/icons/check.svg');
}

.solid .hidden-bg-color-picker {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid var(--grey-1);
}

.solid .hidden-bg-color-picker::after {
    content: url('assets/icons/color-picker.svg');
    position: absolute;
    width: 20px;
    margin-left: -2px;
    margin-top: 3px;
}

.solid .hidden-bg-color-picker::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}
.solid .hidden-bg-color-picker::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}

.solid .hidden-bg-color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 10px;
}

.bg-input-type.image.visible {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bg-input-type.image label {
    font-size: 1rem;
    color: var(--black);
}
.textfield-button-group {
    width: 100%;
    display: flex;
}

.textfield-button-group .textfield {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    box-sizing: border-box;
}

.textfield-button-group .button {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    height: 2.5rem;
    padding: 0.5rem 2rem;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 2rem;
}

.textfield {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: 2.5rem;
    min-width: 0px;
    border-radius: 0.375rem;
    border: 1px solid var(--grey-1);
    font-size: 1rem;
    transition-duration: 0.2s;
    padding: 0 1rem;
}

.textfield:focus {
    outline: none;
    box-shadow: rgba(131, 173, 255, 1) 0px 0px 5px 0px, rgba(131, 173, 255, 1) 0px 0px 1px 0px;
}

.text-control-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.text-control-group .font-color-picker {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.font-color-picker .font-color-preview {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
}

.font-color-picker .hidden-font-color-picker {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

footer {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    position: fixed;
    width: -webkit-fill-available;
    padding: 2rem 1rem;
}

.github-icon {
    cursor: pointer;
}
