.grapefruit_1 {
    background: #ed5565;
}

.grapefruit_2 {
    background: #da4453;
}

.bittersweet_1 {
    background: #fc6e51;
}

.bittersweet_2 {
    background: #e9573f;
}

.sunflower_1 {
    background: #ffce54;
}

.sunflower_2 {
    background: #f6bb42;
}

.grass_1 {
    background: #a0d468;
}

.grass_2 {
    background: #8cc152;
}

.mint_1 {
    background: #48cfad;
}

.mint_2 {
    background: #37bc9b;
}

.aqua_1 {
    background: #4fc1e9;
}

.aqua_2 {
    background: #3bafda;
}

.bluejeans_1 {
    background: #5d9cec;
}

.bluejeans_2 {
    background: #4a89dc;
}

.lavender_1 {
    background: #ac92ec;
}

.lavender_2 {
    background: #967adc;
}

.pinkrose_1 {
    background: #ec87c0;
}

.pinkrose_2 {
    background: #d770ad;
}

.light_gray_1 {
    background: #f5f7fa;
}

.light_gray_2 {
    background: #e6e9ed;
}

.medium_gray_1 {
    background: #ccd1d9;
}

.medium_gray_2 {
    background: #aab2bd;
}

.dark_gray_1 {
    background: #656d78;
}

.dark_gray_2 {
    background: #434a54;
}
