.font-black-han-sans {
    font-family: 'Black Han Sans', sans-serif;
}

.font-gothic-a1 {
    font-family: 'Gothic A1', sans-serif;
}

.font-gowun-dodum {
    font-family: 'Gowun Dodum', sans-serif;
}

.font-ibm-plex {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.font-nanum-gothic {
    font-family: 'Nanum Gothic', sans-serif;
}

.font-nanum-myeongjo {
    font-family: 'Nanum Myeongjo', serif;
}

.font-noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-noto-serif {
    font-family: 'Noto Serif KR', serif;
}
